<?xml version="1.0" encoding="UTF-8"?>
<suite name="All Outlook tests executions" parallel="false" verbose="1" >
    <test name="Test all methods" >
        <classes>
            <class name="test.testNg.TestNgExample"/>
            <class name="test.testNg.TestNgExampleMore"/>
        </classes>
    </test>
</suite>